
@media print {


    .hidden  {
        display: none ;
    }
    .barcode-container {
        padding: 10px;
        margin: 40px;
        width: 100px;
        height: 100px;
        margin: 0px; 

        display: inline-block!important;
        visibility: visible; 
        position: absolute; 
        top: 0; 
        left: 0; 
    }


}




